# Node
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
/dist
/build

# Environment
.env
.env.*

# VSCode
.vscode/

# Mac/Windows
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Docker
*.local
.dockerignore

# Scripts com tokens
push.ps1
pull.ps1
recover.ps1
docker-login.ps1
docker-push.ps1 