# Node
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
/dist
/build

# Environment
.env
.env.*

# VSCode
.vscode/

# Mac/Windows
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Docker
*.local 